
/* Your CSS Code here. */
/* .flexbox{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
} */
#box-1{
	background-color: red;
}
#box-2{
	background-color: blue;
}
#box-3{
	background-color: green;
}
.item{
	background-color: green;
	width: 30px;
	height: 30px;
}
.holder{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
}